# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Outline paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ outline_uid }}"
    group: "{{ outline_gid }}"
  with_items:
    - "{{ outline_base_path }}"
    - "{{ outline_data_path }}"

- name: Ensure Outline support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ outline_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ outline_uid }}"
    group: "{{ outline_gid }}"
  with_items:
    - env
    - labels
  register: outline_support_files_result

- name: Run if self-building of Outline container image is not enabled
  when: "not outline_container_image_self_build | bool"
  block:
    - name: Ensure Outline container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ outline_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ outline_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else outline_container_image_force_pull }}"
      register: outline_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: outline_container_image_pull_result is not failed

    - name: Ensure Outline container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ outline_container_image }}"
      register: outline_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: outline_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in outline_container_image_pull_result.stdout"

- name: Run if self-building of Outline container image is enabled
  when: "outline_container_image_self_build | bool"
  block:
    - name: Ensure Outline repository is present on self-build
      ansible.builtin.git:
        repo: "{{ outline_container_image_self_build_repo }}"
        version: "{{ outline_container_image_self_build_repo_version }}"
        dest: "{{ outline_container_image_self_build_src_files_path }}"
        force: "yes"
      register: outline_git_pull_results

    - name: Ensure Outline container image is built
      community.docker.docker_image:
        name: "{{ outline_container_image_self_build_name }}"
        source: build
        force_source: "{{ outline_git_pull_results.changed if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else outline_git_pull_results.changed }}"
        build:
          dockerfile: Dockerfile
          path: "{{ outline_container_image_self_build_src_files_path }}"
          pull: true
          args:
      register: outline_container_image_build_result

- name: Ensure Outline container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ outline_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: outline_network_creation_result

- name: Ensure Outline container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ outline_container_network }}
  register: outline_network_creation_result
  changed_when: outline_network_creation_result.rc == 0
  failed_when: outline_network_creation_result.rc != 0 and 'already exists' not in outline_network_creation_result.stderr

- name: Ensure Outline systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/outline.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ outline_identifier }}.service"
    mode: "0644"
  register: outline_systemd_service_result

- name: Determine whether Outline needs a restart
  ansible.builtin.set_fact:
    outline_restart_necessary: >-
      {{
        outline_support_files_result.changed | default(false)
        or outline_systemd_service_result.changed | default(false)
        or outline_container_image_pull_result.changed | default(false)
        or outline_container_image_build_result.changed | default(false)
      }}
