# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Outline systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ outline_identifier }}.service"
  register: outline_service_stat

- name: Uninstall Outline systemd services and files
  when: outline_service_stat.stat.exists | bool
  block:
    - name: Ensure Outline systemd service is stopped
      ansible.builtin.service:
        name: "{{ outline_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Outline systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ outline_identifier }}.service"
        state: absent

    - name: Ensure Outline container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ outline_container_network }}"
        state: absent
      register: outline_network_deletion_result

    - name: Ensure Outline container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ outline_container_network }}
      register: outline_network_deletion_result
      changed_when: outline_container_network in outline_network_deletion_result.stdout

    - name: Ensure Outline path does not exist
      ansible.builtin.file:
        path: "{{ outline_base_path }}"
        state: absent
