{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Outline ({{ outline_identifier }})
{% for service in outline_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in outline_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ outline_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ outline_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ outline_identifier }} \
      --log-driver=none \
      --user={{ outline_uid }}:{{ outline_gid }} \
      --cap-drop=ALL \
      --network={{ outline_container_network }} \
      --env-file={{ outline_base_path }}/env \
      --label-file={{ outline_base_path }}/labels \
      --mount type=bind,src={{ outline_data_path }},dst=/var/lib/outline/data \
      {% for arg in outline_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ outline_container_image_self_build_name if outline_container_image_self_build else outline_container_image }}

{% for network in outline_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ outline_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ outline_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ outline_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ outline_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ outline_identifier }}

[Install]
WantedBy=multi-user.target
